<header class="header">
  <div class="container flex-wrap align-center justify-between">
    <a class="header__logo">
      <img src="assets/images/logo.svg" loading="lazy" alt="NobleQuote" />
    </a>

    <a class="header__toggle" [ngClass]="{'active':displayMenu}" (click)="displayMenu = !displayMenu">
      <span></span>
    </a>
    <div class="header__menu flex-wrap align-center" [ngClass]="{'active':displayMenu}">
      <nav>
        <ul class="flex-wrap">
          <li *ngFor="let item of menu">
            <a (click)="menuToggle(item.id)">
              {{ item.label }}
              <in-icon [name]="'chevron-down'"></in-icon>
            </a>

            <div *ngIf="item.children" [id]="item.id+'-dropdown'" [style]="'max-height:' + (menuActive && menuId === item.id ? dropDownHeight : '0px')">
              <a *ngFor="let childItem of item.children">{{
                childItem.label
              }}</a>
            </div>
          </li>
        </ul>
      </nav>
      <div class="header__contact align-center flex-wrap">
        <a href="tel:(866)9549434"> (866) 954-9434</a>
        <br />
        <button class="button white md">Get a quote</button>
      </div>
    </div>
  </div>
</header>
