@import '../../../../assets/scss/variables.scss';
.header {
    padding: 34px 0;
    @include max-screen($desktop) {
        padding: 20px 0;
        background-color: $color-primary-500;
    }
    @include max-screen($mobile) {
        padding: 20px 0;
    }
    &__logo {
        width: 30px;
        color: $color-white;
        in-icon {
            width: 272px;
            display: block;
            margin-top: -13px;
            @include max-screen($desktop-xl) {
                width: 220px;
            }
            @include max-screen($desktop) {
                margin-top: 0;
            }
            @include max-screen($tablet) {
                width: 170px;
            }
        }
    }
    nav {
        @include max-screen($desktop) {
            width: 100%;
        }
        ul {
            li {
                position: relative;
                margin-right: 22px;
                @include max-screen($desktop) {
                    margin: 0 0 20px;
                    width: 100%;
                }
                span {
                    font-size: 18px;
                    font-weight: 500;
                    color: $color-white;
                    cursor: pointer;
                    align-items: center;
                    display: inline-flex;
                    transition: 0.3s ease-in-out;
                    in-icon {
                        width: 12px;
                        margin: 0 0 -2px 5px;
                    }
                }
                div {
                    padding: 8px 0;
                    min-width: 100%;
                    @include min-screen($desktop) {
                        left: 0;
                        opacity: 0;
                        padding: 0;
                        visibility: hidden;
                        position: absolute;
                        border-radius: 10px;
                        top: calc(100% + 5px);
                        max-height: none !important;
                        background-color: rgba($color-black, 0.7);
                    }
                    @include max-screen($desktop) {
                        padding: 0;
                        max-height: 0;
                        overflow: hidden;
                        transition: 0.3s ease-in-out;
                    }
                    &::before {
                        @include min-screen($desktop) {
                            left: 0;
                            height: 5px;
                            bottom: 100%;
                            content: '';
                            position: absolute;
                        }
                    }
                    span {
                        display: block;
                        padding: 5px 9px;
                        white-space: nowrap;
                        @include max-screen($desktop) {
                            padding: 3px 9px;
                        }
                        &:hover,
                        &.active {
                            color: $color-primary-light-400;
                        }
                    }
                }
                &:hover {
                    >span {
                        color: $color-primary-light-400;
                    }
                    >div {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
    &__contact {
        margin-left: 15px;
        @include max-screen($desktop) {
            width: 100%;
            display: block;
            margin-left: 0;
        }
        a {
            cursor: pointer;
            font-size: 18px;
            font-weight: 700;
            margin-right: 30px;
            display: inline-block;
            text-decoration: none;
            @include max-screen($desktop) {
                margin: 0 0 25px;
            }
        }
        br {
            @include min-screen($desktop) {
                display: none;
            }
        }
    }
    &__toggle {
        width: 25px;
        height: 15px;
        display: none;
        cursor: pointer;
        margin-left: auto;
        position: relative;
        @include max-screen($desktop) {
            display: block;
        }
        span {
            top: 50%;
            right: 0;
            width: 100%;
            height: 2px;
            display: block;
            text-align: left;
            position: absolute;
            text-indent: -9999px;
            background: $color-white;
            transform: translateY(-50%);
            transition: 0.3s ease-in-out background-color;
            &:before,
            &:after {
                right: 0;
                width: 100%;
                height: 2px;
                position: absolute;
                background: $color-white;
                transition: 0.3s ease-in-out;
                content: "";
            }
            &:before {
                top: -7px;
            }
            &:after {
                bottom: -7px;
            }
        }
        &.active {
            span {
                background: transparent;
                &:before {
                    top: 0;
                    transform: rotate(-135deg);
                }
                &:after {
                    bottom: 0;
                    transform: rotate(135deg);
                }
            }
        }
    }
    &__menu {
        @include max-screen($desktop) {
            width: 100%;
            max-height: 0;
            display: block;
            overflow: hidden;
            text-align: center;
            transition: 0.6s ease-in-out;
        }
        &.active {
            @include max-screen($desktop) {
                padding: 18px 0 0;
                max-height: 1000px;
            }
        }
    }
}