@import '../../../../assets/scss/variables.scss';
.banner-form {
    padding: 132px 0 0;
    background: $color-primary-900;
    @media (max-width: 1200px) {
        padding-top: 170px;
    }
    h1 {
        margin-bottom: 20px;
    }
    &__form {
        width: 100%;
        max-width: 538px;
        margin-bottom: 70px;
        align-self: flex-start;
        @media (max-width: 1199px) {
            margin-bottom: 20px;
        }
        @media (max-width: 992px) {
            max-width: initial;
        }
    }
}