<div class="banner-form">
  <div class="container">
    <div class="flex-wrap justify-content-between">
      <div class="banner-form__content flex-column justify-between">
        <div>
          <h1 *ngIf="caption">
            {{ caption }}
          </h1>
          <p *ngIf="description">
            {{ description }}
          </p>
          <a class="button" [href]="buttonUrl" *ngIf="buttonLabel">
            {{ buttonLabel }}
          </a>
        </div>

        <picture class="banner-form__banner">
          <source media="(max-width:767px)" [srcset]="imageMobile" />
          <source media="(max-width:1023px)" [srcset]="imageTab" />
          <img [src]="image" width="780" height="390" alt="Banner" />
        </picture>
      </div>
      <div class="banner-form__form">
        <ng-content select="[headerForm]"></ng-content>
      </div>
    </div>
  </div>
</div>
